# Node
node_modules/
npm-debug.log*

# Next.js
.next/
out/
dist/

# Build
*.log
*.cache
.vscode/
.DS_Store

# Environnement
.env
.env.*.local

# Fichiers perso
tennis.mp4
*.mp4
*.avi
*.mov

# Système
*.swp
Thumbs.db
ehthumbs.db
desktop.ini

# OS
Icon?
__MACOSX/
